@use "typography";
@use "colors";

:host {
    display: inline-block;

    &.floating {
        position: absolute;
        left: 16px;
        top: 96px;
        z-index: 10;
        background: var(--theme-deep-purple);
    }
}

.settings {
    @include typography.p2;
    padding: 8px 16px 16px;
    width: 280px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    p { margin: 0; }
    pre { white-space: pre-wrap; overflow-wrap: anywhere; max-height: 180px; overflow-y: auto; }
    mat-form-field { width: 100%; }
}
